<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:4200/action">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/form">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/table">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://localhost:4200/harry-potter">Harry Potter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/table">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div> -->
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
          href="https://www.google.com/search?q=b&oq=b&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg7MgYIAhBFGDsyBggDEEUYOzIQCAQQABiDARixAxiABBiKBTIHCAUQLhiABDIQCAYQABiDARixAxiABBiKBTIKCAcQABixAxiABDIQCAgQABiDARixAxiABBiKBTINCAkQABiDARixAxiABNIBCjIwODQzajBqMTWoAgiwAgHxBYSkFpja2_TF8QWEpBaY2tv0xQ&sourceid=chrome&ie=UTF-8">
        <button class="btn btn-outline-success" type="submit" href="https://en.wikipedia.org/wiki/Chegg">Search</button>
      </form>
    </div>
  </div>
</nav>