<div class="container">
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <h1>Listing The Information Details Of All Products</h1>

    <div class="boxAlign">
      <label for="snumber">Serial Number:</label>
      <input type="text" placeholder="Enter snumber" name="snumber" id="snumber" [(ngModel)]="u.sNumber"
        #serialNumber="ngModel" required>
     
    </div>

    <div class="boxAlign">
      <label for="pname">Product Name:</label>
      <input type="text" placeholder="Enter Products Name" name="pname" id="pname" [(ngModel)]="u.name" />
    </div>

    <div class="boxAlign">
      <label for="price">Price:</label>
      <input type="number" placeholder="Enter products price" name="price" id="price" [(ngModel)]="u.price" required min="1" />
      <div class="error-message" *ngIf="productForm.controls['price']?.invalid && productForm.controls['price']?.touched">
        Price cannot be negative.
      </div>
    </div>

    <div class="boxAlign">
      <label for="quantity">Quantity:</label>
      <input type="number" placeholder="Enter quantity" name="quantity" id="quantity" [(ngModel)]="u.quantity" required min="1" />
      
    </div>

    <div class="boxAlign">
      <label for="purchasedate">Purchase Date:</label>
      <input type="Date" placeholder="Enter purchasedate" name="purchasedate" id="purchasedate" [(ngModel)]="u.purchaseDate">
    </div>

    <div class="boxAlign">
      <label for="selldate">Sell Date:</label>
      <input type="Date" placeholder="Enter selldate" name="selldate" id="selldate" [(ngModel)]="u.sellDate">
    </div>

    <div class="boxAlign">
      <label for="seller">Seller:</label>
      <input type="text" placeholder="Enter seller name" name="seller" id="seller" [(ngModel)]="u.seller" required />
      
    </div>

    <div class="boxAlign">
      <label for="buyer">Buyer:</label>
      <input type="text" placeholder="Enter buyer name" name="buyer" id="buyer" [(ngModel)]="u.buyer" required />
     
    </div>
    <div  >
      <button type="submit" class="btn btn-success">
        {{ isUpdate ? 'Update' : 'Submit' }}
      </button>
    </div>
    <!-- <div>
      <app-button></app-button>
    </div> -->
  </form>
</div>
<!-- // [ngClass]="{  'btn-submit': !isUpdate ,'btn-update': isUpdate}" -->